@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

html {
  box-sizing: border-box;
  height: 80%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: pink;
  
  
  /* Código para poner un cursor personalizado*/
 /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto; */

 font-family: "Mystery Quest", system-ui;
  font-weight: 600;
  font-style: normal;

}


h2 {
  font-size: 4rem;
}

#contenedor {
  margin: auto 1em;
  text-align: center;

}

#tituloPagina {
  margin-top: 4rem;
  margin-bottom: 0;
  font-size: 7rem;
  background-color: azure;
}

#foto {
 height: 300px;
  border: #ae00ff solid 5px;
  margin-top: 15px;
}

.prediccion {
  font-size: 2rem;
}

.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 2rem;
  background-color: #3d00fdb5;
  color: white;
  margin-bottom: 2em;
  cursor: pointer;
}

#bambu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  opacity: 0.8; 
}
@media (max-width:600px){
 #foto {
 height: 20vh;
 
  margin-top: 5px;
}


h2 {
  font-size: 2rem;
} 

#boton {
  font-size: 2rem;
  background-color: #3d00fdb5;
  color: white;
  margin-bottom: 1rem;
  cursor: pointer;

}
#bambu {
  position: fixed;
  top: 0;
  right: 0;
  height: 30vh;
  opacity: 0.8; 
}